---
tags: [ posts ]
permalink: "/posts/{{ date | slugify }}/{{ title | slugify }}/"
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/assets/css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
  </head>
  <body class="bg-pink-900">
    <div class="container mx-auto flex flex-col gap-1 w-11/12 max-w-2xl">

      <span class="text-3xl font-mono font-bold text-white">{{ title }}</span>
      {% assign tags = tags | slice: 1, 5 %}
      <div class="flex flex-row flex-wrap gap-1">
        {% for tag in tags %}
          <span class="text-sm font-mono text-pink-300 border border-pink-300 rounded-full px-2">#{{ tag }}</span>
        {% endfor %}
      </div>
      <span class="text-sm font-sans text-pink-300">{{ author }} / {{ date }}</span>
      <article class="prose prose-sm sm:prose-base font-serif max-w-none prose-code:before:content-none prose-code:after:content-none text-justify rounded bg-pink-200 p-4">
        {{ content }}
      </article>
    </div>
    <div class="flex flex-row justify-center">
      <div class="w-16 h-16 rounded-full bg-pink-900 hover:drop-shadow-2xl text-center text-white text-4xl">
        <a title="More" href="/posts/">...</a>
      </div>
    </div>
    <div class="h-96"></div>
  </body>
</html>