---
import { getCollection, render } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Drawer from "@layouts/Drawer.astro";
import { Idea } from "@tool/idea";

import Tags from "@components/Tags.astro";
import { ArrowLeft, ArrowRight, Construction, Ellipsis } from "lucide-astro";

export async function getStaticPaths() {
  const ideas = (await getCollection("ideas"))
    // .filter(idea => idea.data.pubDate)
    .sort  ((a, b) => (
      (a.data.pubDate?.valueOf() ?? 0) - 
      (b.data.pubDate?.valueOf() ?? 0)
    ))

  return ideas.map(idea => {
    const 
      where    = ideas.findIndex(each => Idea.slug(each) === Idea.slug(idea)),
      prevIdea = ideas[(where + ideas.length - 1) % ideas.length],
      nextIdea = ideas[(where + ideas.length + 1) % ideas.length],
      slug     = Idea.slug(idea);

    return {
      params: { slug                     },
      props : { idea, prevIdea, nextIdea },
    }
  });
}

const { idea, prevIdea, nextIdea } =         Astro.props;
const { Content                  } =  await render(idea);
---

<style>
  .caution {
    background: repeating-linear-gradient(
      45deg,
      var(--color-base-100),
      var(--color-base-100) 20px,
      var(--color-base-200) 20px,
      var(--color-base-200) 40px
    );
  }
</style>

<Layout>
  <Drawer>
    <!-- Container -->
    <div class="flex flex-col w-full min-h-dvh items-center">
      <!-- Spacing -->
      <div class="h-6"></div>

      <!-- Header -->
      <div class="flex flex-col w-3xs items-center sm:w-lg">
        <!-- Author | Date -->
        <div class="flex flex-row w-full justify-center gap-2 text-sm sm:text-lg">
          { idea.data.author  && <span>{idea.data.author                 }</span> }
          { (idea.data.author && idea.data.pubDate) && "|" }
          { idea.data.pubDate && <span>{idea.data.pubDate?.toDateString()}</span> }
        </div>

        <!-- Title -->
        <span class="text-3xl text-center font-bold sm:text-4xl">
          {idea.data.title}
        </span>

        
      </div>

      <!-- Tags -->
      <Tags tags={idea.data.tags} class="text-sm sm:text-lg"/>

      <div class="h-4"></div>



      <!-- Article -->
      <div class="flex flex-col w-full flex-1 sm:max-w-2xl sm:shadow-lg">
        { Idea.isDraft(idea) && (
          <div class="flex flex-row items-center caution px-4 py-2 rounded-t-lg">
            <Construction class="w-10 h-10 shrink-0"/>
            <div class="divider divider-horizontal"></div>
            <div class="flex flex-col flex-1">
              <span class="text-lg sm:text-xl font-bold">This Idea is Under Construction</span>
              <span class="text-sm sm:text-base italic">
                This article is a working draft.
                Some or all of its content may be unfinished,
                may be altered,
                or may even be deleted at a future time.</span>
            </div>
          </div>
        )}
        <div class="prose prose-base sm:prose-lg break-words sm:break-normal p-4 sm:p-8">
          <Content/>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <div class="flex flex-col w-full items-center">
      <!-- Spacing -->
      <div class="h-4"></div>

      <div class="flex flex-row w-fit sm:w-2xl justify-center items-center gap-2">

        <a href={`/idea/${Idea.slug(prevIdea)}`} class="flex flex-row flex-1 p-2 self-stretch items-center justify-center rounded-lg hover:bg-base-200"> 
          <ArrowLeft class="w-10 h-10"/>
          <div class="hidden sm:flex divider divider-horizontal"></div>
          <span class="hidden sm:inline text-lg font-bold flex-1 text-center">
            { prevIdea.data.title }
          </span>
        </a>

        <span class="tooltip tooltip-bottom" data-tip="More Ideas">
          <a href="/idea" class="btn btn-xl btn-ghost btn-circle">
            <Ellipsis class="w-10 h-10"/>
          </a>
        </span>

        
        <a href={`/idea/${Idea.slug(nextIdea)}`} class="flex flex-row flex-1 p-2 self-stretch items-center justify-center rounded-lg hover:bg-base-200">
          <span class="hidden sm:inline text-lg font-bold flex-1 text-center">
            { nextIdea.data.title }
          </span>
          <div class="hidden sm:flex divider divider-horizontal"></div>
          <ArrowRight class="w-10 h-10"/>
        </a>
          

      </div>

      <!-- Spacing -->
      <div class="h-12"></div>
    </div>
  </Drawer>
</Layout>