<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <link rel="stylesheet" href="/assets/css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shawn McGee</title>
  </head>
  <body class="bg-pink-900">
    <div class="flex flex-col h-screen justify-center items-center gap-2">
      <img
        src="/assets/png/profile.png"
        alt="A Smiling Kaiju in a neon tsunami, digital art."
        class="w-32 h-32 rounded-full border-2 border-pink-300 shadow-xl" />
      <span class="text-center text-4xl sm:text-6xl font-serif font-bold text-white">Shawn McGee</span>
      <span class="text-center text-md  sm:text-xl  font-serif           text-white">Full-Time Dad, Part-Time DM, Some-Time Programmer.</span>
      <div class="flex flex-row flex-wrap gap-2 justify-center w-11/12 max-w-lg">
        <a
          title="Posts"
          href="#posts"
          class="basis-1/5 grow flex flex-row justify-center items-center gap-1 rounded bg-pink-300 p-2 hover:bg-pink-200 hover:drop-shadow-xl">
          Posts
        </a>
        <a
          title="GitHub"
          href="https://github.com/shawn-mcgee"
          class="basis-1/5 grow flex flex-row justify-center items-center gap-1 rounded bg-pink-300 p-2 hover:bg-pink-200 hover:drop-shadow-xl">
          <img
            src="/assets/svg/github-white.svg"
            alt="GitHub Logo"
            class="invert w-4 h-4">
          GitHub
        </a>
        <a
          title="Itch.io"
          href="https://tinycthulu.itch.io"
          class="basis-1/5 grow flex flex-row justify-center items-center gap-1 rounded bg-pink-300 p-2 hover:bg-pink-200 hover:drop-shadow-xl">
          <img
            src="/assets/svg/itchio-white.svg"
            alt="Itch.io Logo"
            class="invert w-4" />
          Itch.io
        </a>
        <a
          title="About"
          href="/about/"
          class="basis-1/5 grow flex flex-row justify-center items-center gap-1 rounded bg-pink-300 p-2 hover:bg-pink-200 hover:drop-shadow-xl">
          About
        </a>
      </div>
    </div>

    <a id="posts"></a>
    {% assign posts = collections.posts | reverse | slice: 0, 5 %}
    <div class="flex flex-col items-center gap-2">
      {% for post in posts %}
        <a
          title="{{ post.data.title }}"
          href="{{ post.url }}"
          class="grow flex flex-col gap-1 w-11/12 max-w-lg rounded bg-pink-300 p-2">
          <div class="flex flex-col">
            <span class="text-right text-sm font-sans italic">{{ post.data.author }}</span>
            <span class="text-right text-sm font-sans italic">{{ post.data.date }}</span>
          </div>
          <span class="text-xl font-mono font-bold">{{ post.data.title }}</span>
          {% assign tags = post.data.tags | slice: 1, 5 %}
          <div class="flex flex-row flex-wrap gap-1">
            {% for tag in tags %}
              <span class="text-sm font-mono text-pink-900 border border-pink-900 rounded-full px-2">#{{ tag }}</span>
            {% endfor %}
          </div>
          <div class="bg-pink-200 rounded p-2">
            <iframe
              scrolling="no"
              title="{{ post.data.title }}"
              class="w-full h-48 pointer-events-none"
              srcdoc="{{ post.templateContent | article | escape }}"></iframe>
          </div>
        </a>
      {% endfor %}
      <div class="w-16 h-16 rounded-full bg-pink-900 hover:drop-shadow-2xl text-center text-white text-4xl">
        <a title="More" href="/posts/">...</a>
      </div>

    </div>
    <div class="h-96"></div>
  </body>
</html>